.basic-info {
    border-collapse: collapse;
    margin: auto;
    /* 優化表格邊框樣式 */
    td {
        height: 40px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .brand-branch {
        width: 480px;
    }
    .audit-date {
        width: 180px;
    }
}

.checkList {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
	background-color: rgba(0,0,0,0);
    /* 優化表格邊框樣式 */
    th, td {
        border: 1px solid black;
        text-orientation: upright;
    }
}

.head {
    text-align: center;
    background-color: #D3D3D3;

    .header-category {
        width: 40px;
    }
    .header-type {
        width: 40px;
    }
    .header-text {
        width: 350px;
    }
    .header-check {
        width: 40px;
    }
    .header-describe {
        width: 190px;
    }
}

.category {
    vertical-align: middle;
    text-align: center;
}

.type, .check {
    text-align: center;
}

.describe-area {
    font-size: 12px;
}

.advise-title {
    text-align: center;
    background-color: #D3D3D3;
}

.advise-content {
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.advise-area {
    font-size: 14px;
}

.advise {
    height: 100px;
    width: 660px;
}

.audit-result {
    text-align: center;
    background-color: #D3D3D3;
}

.audit-score {
    text-align: right;
    vertical-align: bottom;
    font-size: 12px;
}

.sign {
    border-collapse: collapse;
    margin: auto;
	background-color: rgba(0,0,0,0);
    /* 優化表格邊框樣式 */
    td {
        width: 220px;
        height: 100px;
        vertical-align: top;
        text-orientation: upright;
    }
}

.button-wrapper {
    text-align: center;
}

.finish {
    text-align: center;
    height: 50px;
    width: 660px;
}
