.print-logo {
	display: none;
}

/* 列印時的樣式 */
@media print {
	.process {
		display: none;
	}
	
	/* 隱藏未被勾選的checkbox */
	input[type="checkbox"]:not(:checked) {
		display: none;
	}
	
    /* 
	只在第一頁顯示 logo *
    .print-logo {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 100px;
        height: auto;
    }
    
	使用 :first-of-type 對應只有在第一頁上顯示 logo 
    @page:first {
        .print-logo {
            display: block;
        }
    }

    隱藏 logo 在其他頁面
    .print-logo:not(:first-of-type) {
        display: none;
    }
	*/
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    margin: 5px 0;
}

.header h2 {
    font-size: 28px;
    margin: 5px 0;
}

.location {
    font-size: 20px;
}

.branch {
    height: 24px;
    width: 150px;
    font-size: 20px;
}

.restaurant {
    height: 24px;
    width: 150px;
    font-size: 20px;
}


table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
/* 優化表格邊框樣式 */
table, th, td {
    border: 1px solid black;
}
.category {
    width: 30px;
    text-align: center;
    font-weight: normal;
    padding: 8px 4px;
}
.type {
    width: 20px;
    text-align: center;
}
.content {
    width: 550px;
}

.checkbox-column {
    width: 40px;
    text-align: center;
}

.correct {
	height: 24px;
	width: 24px;
}
.B {
	height: 24px;
	width: 24px;
}
.star {
	height: 24px;
	width: 24px;
}

.reason {
	width: 690px;
	height: 28px;
}
